*~
Makefile
build-stamp
config.log
config.status
configure-stamp
debian/files
debian/surfraw-extra.debhelper.log
debian/surfraw-extra.substvars
debian/surfraw-extra/
debian/surfraw.debhelper.log
debian/surfraw.substvars
debian/surfraw/
elvi.1sr
links
opensearch-discover.1
opensearch-genquery.1
surfraw
surfraw-bash-completion
surfraw-update-path
surfraw-update-path.1
surfraw.1
surfraw.conf
surfraw.lsm
surfraw.spec
examples/uzbl_load_url_from_surfraw
Makefile.in
aclocal.m4
configure
autom4te.cache
